<div class="handle-filter">

  <!-- //////////////////////// ADD AMBIANCE FILTERS //////////////////////// -->

    <div class="filter-card">
      <md-input-container>
          <label>Ambiance</label>
          <input ng-model="ambiance.name">
      </md-input-container>
      <a ng-click="addAmbiance()"> Ajouter</a>

        <div ng-repeat="ambiance in ambiances" class="filter-name">
            <p>{{ambiance.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeAmbiance(ambiance._id)">
        </div>
    </div>

    <!-- //////////////////////// ADD LENGTH FILTERS //////////////////////// -->

    <div class="filter-card">
      <md-input-container>
          <label>Durée</label>
          <input ng-model="length.name">
      </md-input-container>
      <a ng-click="addLength()"> Ajouter</a>

        <div ng-repeat="length in lengths" class="filter-name">
            <p>{{length.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeLength(length._id)">
        </div>
    </div>

    <!-- //////////////////////// ADD STYLE FILTERS //////////////////////// -->

    <div class="filter-card">
      <md-input-container>
          <label>Style</label>
          <input ng-model="style.name">
      </md-input-container>
      <a ng-click="addStyle()"> Ajouter</a>

        <div ng-repeat="style in styles" class="filter-name">
            <p>{{style.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeStyle(style._id)">
        </div>
    </div>

    <!-- //////////////////////// ADD INSTRUMENT FILTERS //////////////////////// -->

    <div class="filter-card">
      <md-input-container>
          <label>Instrument</label>
          <input ng-model="instrument.name">
      </md-input-container>
      <a ng-click="addInstrument()"> Ajouter</a>

        <div ng-repeat="instrument in instruments" class="filter-name">
            <p>{{instrument.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeInstrument(instrument._id)">
        </div>
    </div>

</div>
