<div class="handle-filter">

    <div class="filter-card">
        <input type="text" id="input" value="" ng-model="ambiance.name" required placeholder="Ambiance..." class="input-name"></input>
        <button type="button" ng-click="addAmbiance()">
            <h4>Ajouter</h4>
        </button>

        <div ng-repeat="ambiance in ambiances" class="filter-name">
            <p>{{ambiance.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeAmbiance(ambiance._id)">
        </div>
    </div>

    <div class="filter-card">

        <input type="text" id="input" value="" ng-model="length.name" required placeholder="Durée..." class="input-name"></input>
        <button type="button" ng-click="addLength()">
            <h4>Ajouter</h4>
        </button>

        <div ng-repeat="length in lengths" class="filter-name">
            <p>{{length.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeLength(length._id)">
        </div>
    </div>

    <div class="filter-card">

        <input type="text" id="input" value="" ng-model="style.name" required placeholder="Style..." class="input-name"></input>
        <button type="button" ng-click="addStyle()">
            <h4>Ajouter</h4>
        </button>

        <div ng-repeat="style in styles" class="filter-name">
            <p>{{style.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeStyle(style._id)">
        </div>
    </div>

    <div class="filter-card">

        <input type="text" id="input" value="" ng-model="instrument.name" required placeholder="Instrument..." class="input-name"></input>
        <button type="button" ng-click="addInstrument()">
            <h4>Ajouter</h4>
        </button>
        <div ng-repeat="instrument in instruments" class="filter-name">
            <p>{{instrument.name}}</p>
            <input type="button" value="Supprimer" ng-click="removeInstrument(instrument._id)">
        </div>
    </div>

</div>
