<div class="add-song">
    <md-input-container>
        <p>Si version instrumentale choisir la version intégrale:</p>
        </br>
        <label>Musique intégrale</label>
        <md-select ng-model="song.integral">
            <md-option ng-repeat="song in songs" ng-value="song._id">
                {{song.title}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Titre</label>
        <input ng-model="song.title">
    </md-input-container>

    <div ng-if="!song.integral.length" class="ambiance-choice">
        <h4>CHOISIR LES AMBIANCES CORRESPONDANTES</h4>
        <button class="check-button" type="button" ng-repeat="ambiance in ambiances track by $index" ng-model="ambiance.name" ng-click='addElementToSong(ambiance.name,
  song.ambiance); isActive = !isActive' ng-class="{'active' : isActive}">{{ambiance.name}}</button>
    </div>
    <div ng-if="!song.integral.length" class="style-choice">
        <h4>CHOISIR LES STYLES CORRESPONDANTS</h4>
        <button class="check-button" type="button" ng-repeat="style in styles track by $index" ng-model="style.name" ng-click='addElementToSong(style.name, song.style); isActive = !isActive' ng-class="{'active' : isActive}">{{style.name}}</button>
    </div>
    <div ng-if="!song.integral.length" class="instrument-choice">
        <h4>CHOISIR LES INSTRUMENTS CORRESPONDANTS</h4>
        <button class="check-button" type="button" ng-repeat="instrument in instruments track by $index" ng-model="instrument.name" ng-click='addElementToSong(instrument.name, song.instrument); isActive = !isActive' ng-class="{'active' : isActive}">{{instrument.name}}</button>
    </div>

    <div class="form-box">
        <div class="choose-pic">
            <div id="upload-pic"></div>
            <form id="upload-photos" enctype="multipart/form-data">
                <div class="form-group">
                    <input id="photos-input" type="file" name="photos[]" multiple="multiple">
                </div>
                <input ng-click="submitPhoto()" class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photo" />
            </form>
        </div>
        <div class="choose-pic">
            <div id="upload-pic"></div>
            <form id="upload-song" enctype="multipart/form-data">
                <div class="form-group">
                    <input id="song-input" type="file" name="photos[]" multiple="multiple">
                </div>
                <input ng-click="submitSong()" class="btn btn-default" type="submit" name="Song Uploads" value="Upload Song" />
            </form>
        </div>
    </div>
    <a>
        <button type="button" ng-click="addSong()">
        <h3>Envoyer</h3>
    </button>
    </a>
</div>
