.handle-song {
  display: flex;
  flex-direction: column;
  align-items: center;
    .show-song {
        display: flex;
        justify-content: center;
        margin: 50px;
        flex-wrap: wrap;

        .song-card {
            margin: 10px;
            width: 250px;
            height: 280px;
            background-color: rgb(188, 192, 196);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p {
                font-weight: bold;
            }

            .song-icon {
                width: 180px;
                height: 180px;
                background-position: center;
                background-size: cover;
            }

            input {
                width: 90%;
                cursor: pointer;
            }
        }
    }
}

.handle-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .filter-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-name {
            margin: 10px;
        }

        button {
            margin-bottom: 20px;
            cursor: pointer;
        }

        .filter-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            border: 1px solid rgb(64, 64, 64);
            padding: 5px;
            margin: 10px;

            input {
                cursor: pointer;
            }
        }
    }
}

.admin-page {
    #input{
      padding-left: 5px;
      height: 35px;
      width: 250px;
      border: none;
    }
    #input:focus{
      outline: none;
    }
    .add-song {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 90px);
        align-items: center;
        justify-content: space-around;
        h4{
          text-align: center;
          margin-bottom: 20px;
        }
        .form-box{
          #upload-photos{
            display: flex;
          }
          #upload-song{
            display: flex;
          }
        }
    }
    .admin-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            cursor: pointer;
        }

        .menu-active {
            border-bottom: 1px solid rgb(68, 66, 66);
        }
    }
}



.check-button{
  margin: 0 5px;
  width: 110px;
  height: 40px;
  border: 1px solid rgb(106, 103, 103);
  cursor: pointer;
  background-color: transparent;
  color: black;
}
.active{
  background-color: rgb(109,123,159);
}


.form-select {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.form-select:focus, .form-select:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-select:after {
  content: '▾';
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 1;
  color: #bbbbbb;
  line-height: 40px;
  font-size: 14px;
}
.ie .form-select:after {
  display: none;
}

select {
  position: relative;
  background: transparent;
  background-image: none;
  display: block;
  width: 100%;
  outline: none;
  color: #888888;
  cursor: pointer;
  z-index: 2;
  border: none;
  padding: 10px 10px 10px 5px;
  text-overflow: '';
  text-indent: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select[multiple=multiple] {
  height: auto;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
select[multiple=multiple]:hover {
  border-color: #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
select option[disabled] {
  color: #eeeeee;
  text-shadow: none;
  border: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
  display: none;
}

/*==========  Generic styling  ==========*/
.column-6 {
  position: relative;
  width: 200px;
}
