$primaryColor: steelblue;
$apBG: #f2f2f2;
$plBG: #fff;
$plCurrentBG: $primaryColor;
$plColorIcon: $primaryColor;
$plCurrentColor: #fff;
$plHoverColor: #f1eded;
$iconColor: #777;
$iconColorActive: $primaryColor;
$iconBGActive: $primaryColor;
$barBG: #ddd;
$progressBG: $primaryColor;
$font-family: inherit;
$font-size: 14px;
$apHeight: 50px;
$apMaxWidth: 1440px;
$barSize: 3px;
$apZ: 99999;
$volZ: 88888;
$plZ: 77777;
