<div class="admin-page">

    <div class="nav-bar">
        <div class="admin-nav">
            <a ng-class="{'menu-active' : show === 'music'}" ng-click="show = 'music'">Gérer mes musiques</a>
            <a ng-class="{'menu-active' : show === 'filter'}" ng-click="show = 'filter'">Gérer mes filtres</a>
        </div>
    </div>

    <div class="handle-song" ng-if="show === 'music'">
        <div class="add-song">

            <input type="text" id="title" value="" ng-model="song.title" required placeholder="Titre..."></input>
            <input type="text" id="title" value="" ng-model="song.duration" required placeholder="Durée du son au format MM:SS"></input>

            <div class="choose-pic">
                <div id="upload-pic"></div>
                <form id="upload-photos" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="photos-input" type="file" name="photos[]" multiple="multiple">
                    </div>
                    <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photo"/>
                </form>
            </div>
            <div class="choose-pic">
                <div id="upload-pic"></div>
                <form id="upload-song" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="song-input" type="file" name="photos[]" multiple="multiple">
                    </div>
                    <input class="btn btn-default" type="submit" name="Song Uploads" value="Upload Song"/>
                </form>
            </div>
            <a>
                <button type="button" ng-click="addSong()">
                    <h4>Envoyer</h4>
                </button>
            </a>
        </div>
        <div class="show-song">
            <div ng-repeat="song in songs" class="song-card">
                <p>{{song.title}}</p>
                <div class="song-icon" ng-style="{'background-image':'url(../assets/images/'+song.icon+')'}"></div>
                <input type="button" value="Supprimer" ng-click="removeSong(song._id)">
            </div>
        </div>
    </div>

    <div class="handle-filter" ng-if="show === 'filter'">

        <div class="filter-card">
            <input type="text" id="title" value="" ng-model="ambiance.name" required placeholder="Ambiance..." class="input-name"></input>
            <button type="button" ng-click="addAmbiance()">
                <h4>Ajouter</h4>
            </button>

            <div ng-repeat="ambiance in ambiances" class="filter-name">
                <p>{{ambiance.name}}</p>
                <input type="button" value="Supprimer" ng-click="removeAmbiance(ambiance._id)">
            </div>
        </div>

        <div class="filter-card">

            <input type="text" id="title" value="" ng-model="length.name" required placeholder="Durée..." class="input-name"></input>
            <button type="button" ng-click="addLength()">
                <h4>Ajouter</h4>
            </button>

            <div ng-repeat="length in lengths" class="filter-name">
                <p>{{length.name}}</p>
                <input type="button" value="Supprimer" ng-click="removeLength(length._id)">
            </div>
        </div>

        <div class="filter-card">

            <input type="text" id="title" value="" ng-model="style.name" required placeholder="Style..." class="input-name"></input>
            <button type="button" ng-click="addStyle()">
                <h4>Ajouter</h4>
            </button>

            <div ng-repeat="style in styles" class="filter-name">
                <p>{{style.name}}</p>
                <input type="button" value="Supprimer" ng-click="removeStyle(style._id)">
            </div>
        </div>

        <div class="filter-card">

            <input type="text" id="title" value="" ng-model="instrument.name" required placeholder="Instrument..." class="input-name"></input>
            <button type="button" ng-click="addInstrument()">
                <h4>Ajouter</h4>
            </button>
            <div ng-repeat="instrument in instruments" class="filter-name">
                <p>{{instrument.name}}</p>
                <input type="button" value="Supprimer" ng-click="removeInstrument(instrument._id)">
            </div>
        </div>

    </div>

</div>
