<div class="home-page">
    <div class="first-view" ng-parallax pattern="background" speed="1.9" reverse="false">
        <!-- <div class="first-view-logo"></div> -->
        <h1>MANATEE MUSIC</h1>
        <p>De la musique à voir.</p>
    </div>
    <div class="presentation">
        <div class="hr"></div>
        <p>Manatee Music vous offre un large choix de musiques originales spécialement conçues pour les utilisations audiovisuelles (films, courts-métrages, spots publicitaires etc.). Naviguer sur ce site, c’est un voyage à travers différents univers musicaux,
            proposés selon une catégorisation intuitive et ludique qui vous permettra de trouver le morceau que vous recherchez de la plus efficace des manières.</p>
        <div class="hr"></div>
    </div>

    <div class="bio-perso">
        <div>
            <div class="bio-box johan-box">
                <div class="bio-photo johan-pic">
                    <!-- <div class="bio-pic-bottom"></div> -->
                </div>
                <h3>JOHAN</h3>
                <h3>BARRER</h3>
                <div class="underline-left"></div>
                <h4>BATTEUR - COMPOSITEUR</h4>
                <p><b>B</b>atteur et guitariste autodidacte depuis le plus jeune âge, il tourne dès l'âge de 14 ans avec des groupes de blues/rock. Il faudra attendre 2007 pour qu’il intègre le cycle jazz de l’école Jazz à Tours. Largement influencé par
                    le rock et le blues, son parcours en cycle jazz n’en est que plus atypique. </br> C'est dans cette même école qu'il rencontre les deux musiciens avec lesquels il forme le trio Groove Catchers (1er prix du tremplin national de jazz
                    de la Défense à Paris). En 2014, ils enregistrent leur premier album « 53 » (Such Prod/Harmonia Mundi) et tournent en France et à l'étranger. </br> Aujourd'hui, il fait partie de nombreuses formations de tous types allant de l’indie-pop
                    au jazz-rock en passant par la funk et le hip-hop.</p>
            </div>
        </div>
        <div>
            <!-- <div class="bio-box__triangle__right"></div> -->

            <div class="bio-box franck-box">
                <div class="bio-photo franck-pic">
                    <!-- <div class="bio-pic-bottom"></div> -->
                </div>
                <h3>FRANCK</h3>
                <h3>GASSELING</h3>
                <div class="underline-right"></div>
                <h4>PIANISTE - COMPOSITEUR</h4>
                <p><b>A</b>près avoir suivi des études de piano, de composition et d'orchestration au conservatoire, il a joué dans plusieurs groupes (Zem, Jack Fereday...), appris en autodidacte l'ingénierie du son et travaillé sur le mixage et le mastering
                    de nombreux projets (Groove Catchers, Opalousa, Alriiight, Groove Catchers Extended...). </br> Après s’être produit de nombreuses fois en tant que pianiste soliste, il enseigne actuellement son instrument à Paris depuis 2011. </br>Il
                    a également eu l'occasion de travailler sur la musique de plusieurs films ("Je sens plus la vitesse" 2014, "Confiance aveugle" 2016...) en tant que compositeur et interprète.</p>
            </div>
        </div>
    </div>
    <div class="presentation">
        <div class="hr"></div>
        <p>Désireux de fusionner leurs énergies créatrices, Franck Gasseling et Johan Barrer, tous deux musiciens et compositeurs, fondent en 2016 Manatee Music. De cette association est né l’idée de produire avec savoir-faire et passion des musiques originales
            et variées. Leur intérêt pour le cinéma sous toutes ses formes, ainsi que la diversité des productions audiovisuelles, les amène à mettre leurs musiques au service de l’image.
        </p>
        <div class="hr"></div>
    </div>
    <div class="instruction">
        <div class="instruction-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed
                orci pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque
                eget.
            </p>
        </div>
        <div class="instruction-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed
                orci pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque
                eget.
            </p>
        </div>
    </div>
</div>
