<div class="home-page">
    <div class="first-view">
        <div class="first-view-logo"></div>
    </div>
    <div class="presentation">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed orci
            pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque eget.</p>
    </div>
    <div class="instruction">
        <div class="instruction-box"></div>
        <div class="instruction-box"></div>
    </div>
    <div class="bio-collective">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed orci
            pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque eget.</p>
    </div>
    <div class="bio-perso">
        <div class="bio-box">
            <div class="bio-photo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed orci
                pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque eget.</p>
        </div>
        <div class="bio-box">
            <div class="bio-photo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel scelerisque nisi. Mauris placerat sollicitudin bibendum. Nam elementum, urna et vehicula convallis, odio orci pellentesque dui, eu tempus ipsum dui dictum arcu. Phasellus sed orci
                pellentesque, volutpat lectus nec, ornare leo. Vivamus dictum ante ac nunc pellentesque, sit amet fermentum arcu vehicula. Suspendisse et justo mi. Donec a adipiscing turpis. Proin facilisis tortor dolor, sit amet blandit libero pellentesque eget.</p>
        </div>
    </div>
    <div class="footer">
        <a target="_blank" href="" class="facebook-icon"></a>
        <a target="_blank" href="" class="twiter-icon"></a>
        <a target="_blank" href="" class="google-icon"></a>
    </div>
</div>
